<% if (products.length > 0) { %> 
    <table class="table table-dark table-striped-columns w-50">
        <thead>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Price</th>
            <th scope="col">Thumbnail</th>
          </tr>
        </thead>
        <tbody id="productsList">
          </tbody>
      </table>
      <% } else { %>
        <p>No hay productos en la canasta</p>
  <% }%> 
  
  